* {
    background-repeat: no-repeat;
}
body {
    color: #333;
    font-family: 'PingFang SC', tahoma, arial, 'helvetica neue', 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    line-height: 1.5;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
div {
    display: block;
}
.bx-viewport-1{
    background-image: url(../../public/index_sliders_bg.jpg);
}
.bx-viewport-2{
    background-image: url(../../public/back.jpg);
}
.bx-viewport{
    max-width: 100%;
    display: block;
    background-size: cover;
    position: relative;
    height: 510px;
    text-align: center;
}
.bx-viewport h3 {
    margin-top: -3px;
    font-size: 20px;
    color: #fff;
    font-weight: normal;
}
.bx-viewport h2 {
    color: #fff;
    padding-top: 110px;
    margin-top: 0;
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 0;
}
.slider{
    position: relative;
}